In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
pd_temp = pd.read_csv('./911call/chifoia_event_geo/chifoia_event_geo_01012017.txt',sep="|",skiprows=1,header=None)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd_temp.head()

,0,1,2,3,4,5,6,7,8,9,10
0,1700100001,O,1224.0,NaN,NaN,236608,0,NaN,NaN,-87662528.0,41881528.0
1,1700100001,S,1224.0,27.0,60607.0,236608,0,012,1224.0,-87662528.0,41881528.0
2,1700100003,O,1924.0,NaN,NaN,205918,0,NaN,NaN,-87654766.0,41945069.0
3,1700100003,S,1924.0,44.0,60657.0,205918,0,019,1924.0,-87654766.0,41945069.0
4,1700100004,O,2222.0,NaN,NaN,0,58710,NaN,NaN,-87647281.0,41736020.0

In [4]:
pd_temp.columns  = ['EVENTNUMBER', 'TYPE', 'ATOMPOL', 'WARD', 'ZIPCODE', 'SEGMENTID',
       'INTERSECTID', 'DISPGROUP', 'RESPAREA', 'XCOORD',
       'YCOORD']

In [5]:
pd_temp.head()

,EVENTNUMBER,TYPE,ATOMPOL,WARD,ZIPCODE,SEGMENTID,INTERSECTID,DISPGROUP,RESPAREA,XCOORD,YCOORD
0,1700100001,O,1224.0,NaN,NaN,236608,0,NaN,NaN,-87662528.0,41881528.0
1,1700100001,S,1224.0,27.0,60607.0,236608,0,012,1224.0,-87662528.0,41881528.0
2,1700100003,O,1924.0,NaN,NaN,205918,0,NaN,NaN,-87654766.0,41945069.0
3,1700100003,S,1924.0,44.0,60657.0,205918,0,019,1924.0,-87654766.0,41945069.0
4,1700100004,O,2222.0,NaN,NaN,0,58710,NaN,NaN,-87647281.0,41736020.0

In [6]:
pdf = pd.DataFrame()

In [7]:
path = './911call/chifoia_event_geo/'
files= os.listdir(path)
files

['chifoia_event_geo_01012016.txt',
 'chifoia_event_geo_01012017.txt',
 'chifoia_event_geo_02012016.txt',
 'chifoia_event_geo_02012017.txt',
 'chifoia_event_geo_03012016.txt',
 'chifoia_event_geo_03012017.txt',
 'chifoia_event_geo_04012016.txt',
 'chifoia_event_geo_04012017.txt',
 'chifoia_event_geo_05012016.txt',
 'chifoia_event_geo_05012017.txt',
 'chifoia_event_geo_06012016.txt',
 'chifoia_event_geo_06012017.txt',
 'chifoia_event_geo_07012016.txt',
 'chifoia_event_geo_07012017.txt',
 'chifoia_event_geo_08012016.txt',
 'chifoia_event_geo_08012017.txt',
 'chifoia_event_geo_09012016.txt',
 'chifoia_event_geo_10012016.txt',
 'chifoia_event_geo_11012016.txt',
 'chifoia_event_geo_12012016.txt']

In [8]:
for file in files:
    pd_temp = pd.read_csv(path+file,sep="|",skiprows=1,header=None)
    pd_temp.columns = ['EVENTNUMBER', 'TYPE', 'ATOMPOL', 'WARD', 'ZIPCODE', 'SEGMENTID','INTERSECTID', 'DISPGROUP', 'RESPAREA', 'XCOORD','YCOORD']
    print(pd_temp.shape)
    pdf = pd.concat([pdf,pd_temp])
    print(pdf.shape)

(713107, 11)
(713107, 11)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(687266, 11)
(1400373, 11)
(671598, 11)
(2071971, 11)
(646073, 11)
(2718044, 11)
(756224, 11)
(3474268, 11)
(716465, 11)
(4190733, 11)
(748984, 11)
(4939717, 11)
(744390, 11)
(5684107, 11)
(845535, 11)
(6529642, 11)
(803958, 11)
(7333600, 11)
(882671, 11)
(8216271, 11)
(844684, 11)
(9060955, 11)
(923133, 11)
(9984088, 11)
(866315, 11)
(10850403, 11)
(885765, 11)
(11736168, 11)
(817726, 11)
(12553894, 11)
(837948, 11)
(13391842, 11)
(800596, 11)
(14192438, 11)
(726822, 11)
(14919260, 11)
(687701, 11)
(15606961, 11)

In [9]:
pdf.head()

,EVENTNUMBER,TYPE,ATOMPOL,WARD,ZIPCODE,SEGMENTID,INTERSECTID,DISPGROUP,RESPAREA,XCOORD,YCOORD
0,1600100001,O,2525.0,NaN,NaN,223938,0,25,2525.0,-87729026.0,41918031.0
1,1600100001,S,2525.0,35.0,60639.0,223938,0,25,2525.0,-87729026.0,41918031.0
2,1600100002,O,1224.0,NaN,NaN,236608,0,NaN,NaN,-87662528.0,41881528.0
3,1600100002,S,1224.0,27.0,60607.0,236608,0,12,1224.0,-87662528.0,41881528.0
4,1600100004,O,1215.0,NaN,NaN,236622,0,12,1215.0,-87662682.0,41885411.0

In [10]:
pdf.to_csv('./911call/chifoia_event_geo.csv')

DISPGROUP duplicate in this table