In [6]:
import numpy as np
import pandas as pd
import os

In [7]:
pd_temp = pd.read_csv('./911call/chifoia_event_segment/chifoia_event_segment_01012017.txt',sep="|",skiprows=0,header=0)

In [8]:
pd_temp.head()

,PROMPT EVENTNUMBER,OCCCNT,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,CREATIONFLAG,SOURCEFLAG,WORKSTATION,PERSID,UNIT,UNITLOGONDATE
0,1700100001,10001,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1700100001,10002,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1700100001,10003,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1700100001,10004,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1700100001,10005,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pd_temp.columns = ['EVENTNUMBER', 'OCCCNT', 'CREATIONDATE', 'CREATIONDATEHN',
       'OVERRIDEDATE', 'OVERRIDEDATEHN', 'SEGMENTNAME', 'SEGMENTDATE',
       'SEGMENTDATEHN', 'CREATIONFLAG', 'SOURCEFLAG', 'WORKSTATION', 'PERSID',
       'UNIT', 'UNITLOGONDATE']

In [10]:
pd_temp.head()

,EVENTNUMBER,OCCCNT,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,CREATIONFLAG,SOURCEFLAG,WORKSTATION,PERSID,UNIT,UNITLOGONDATE
0,1700100001,10001,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1700100001,10002,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1700100001,10003,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1700100001,10004,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1700100001,10005,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
pdf = pd.DataFrame()

In [12]:
path = './911call/chifoia_event_segment/'
files= os.listdir(path)
files

['chifoia_event_segment_01012016.txt',
 'chifoia_event_segment_01012017.txt',
 'chifoia_event_segment_02012016.txt',
 'chifoia_event_segment_02012017.txt',
 'chifoia_event_segment_03012016.txt',
 'chifoia_event_segment_03012017.txt',
 'chifoia_event_segment_04012016.txt',
 'chifoia_event_segment_04012017.txt',
 'chifoia_event_segment_05012016.txt',
 'chifoia_event_segment_05012017.txt',
 'chifoia_event_segment_06012016.txt',
 'chifoia_event_segment_06012017.txt',
 'chifoia_event_segment_07012016.txt',
 'chifoia_event_segment_07012017.txt',
 'chifoia_event_segment_08012016.txt',
 'chifoia_event_segment_08012017.txt',
 'chifoia_event_segment_09012016.txt',
 'chifoia_event_segment_10012016.txt',
 'chifoia_event_segment_11012016.txt',
 'chifoia_event_segment_12012016.txt']

In [13]:
for file in files:
    pd_temp = pd.read_csv(path+file,sep="|",skiprows=1,header=None)
    pd_temp.columns =  ['EVENTNUMBER', 'OCCCNT', 'CREATIONDATE', 'CREATIONDATEHN',
       'OVERRIDEDATE', 'OVERRIDEDATEHN', 'SEGMENTNAME', 'SEGMENTDATE',
       'SEGMENTDATEHN', 'CREATIONFLAG', 'SOURCEFLAG', 'WORKSTATION', 'PERSID',
       'UNIT', 'UNITLOGONDATE']
    print(pd_temp.shape)
    pdf = pd.concat([pdf,pd_temp])
    print(pdf.shape)

(3519186, 15)
(3519186, 15)
(3800491, 15)
(7319677, 15)
(3396171, 15)
(10715848, 15)
(3586756, 15)
(14302604, 15)
(3929772, 15)
(18232376, 15)
(3904099, 15)
(22136475, 15)
(3905031, 15)
(26041506, 15)
(4058019, 15)
(30099525, 15)
(4384665, 15)
(34484190, 15)
(4409224, 15)
(38893414, 15)
(4496809, 15)
(43390223, 15)
(4504925, 15)
(47895148, 15)
(4534007, 15)
(52429155, 15)
(4625037, 15)
(57054192, 15)
(4338183, 15)
(61392375, 15)
(4474221, 15)
(65866596, 15)
(4246680, 15)
(70113276, 15)
(4165210, 15)
(74278486, 15)
(3765598, 15)
(78044084, 15)
(3563561, 15)
(81607645, 15)

In [14]:
pdf.head()

,EVENTNUMBER,OCCCNT,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,CREATIONFLAG,SOURCEFLAG,WORKSTATION,PERSID,UNIT,UNITLOGONDATE
0,1600100001,0,12/31/2015 23:58:16,NaN,NaN,NaN,REC,12/31/2015 23:58:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1600100001,10001,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1600100001,10002,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1600100001,10003,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1600100001,10004,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
pdf.to_csv('./911call/chifoia_event_segment.csv')