In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
pd_temp = pd.read_csv('./911call/chifoia_unit_segment/chifoia_unit_segment_01012017.txt',sep="|",skiprows=0,header=0)

In [3]:
pd_temp.head()

,PROMPT UNIT,OCCCNT,UNITLOGONDATE,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,WORKSTATION,PERSID,EVENTNUMBER,CREATIONFLAG,SOURCEFLAG
0,1000X,10,01/03/2017 15:48:55,01/03/2017 17:52:14,8,NaN,0,CLEAR,01/03/2017 17:52:14,8,PD119,D554735,1700310488,NaN,NaN
1,1000X,10,01/27/2017 16:01:54,01/27/2017 20:01:12,12,NaN,0,CLEAR,01/27/2017 20:01:12,12,PD119,D554735,1702712432,NaN,NaN
2,1000X,10,01/28/2017 14:03:10,01/29/2017 05:41:31,86,NaN,0,LOGOFF,01/29/2017 05:41:31,86,PD120,D106919,NaN,O,NaN
3,1000X,11,01/03/2017 15:48:55,01/03/2017 17:52:19,96,NaN,0,DSP,01/03/2017 17:52:19,96,PD119,D554735,1700310298,NaN,NaN
4,1000X,11,01/27/2017 16:01:54,01/27/2017 22:49:15,89,NaN,0,REMINQ,01/27/2017 22:49:15,89,PMDT2404,PC0H049,,O,NaN

In [4]:
pd_temp.columns

Index(['PROMPT UNIT', 'OCCCNT', 'UNITLOGONDATE', 'CREATIONDATE',
       'CREATIONDATEHN', 'OVERRIDEDATE', 'OVERRIDEDATEHN', 'SEGMENTNAME',
       'SEGMENTDATE', 'SEGMENTDATEHN', 'WORKSTATION', 'PERSID', 'EVENTNUMBER',
       'CREATIONFLAG', 'SOURCEFLAG'],
      dtype='object')

In [5]:
pd_temp.head()

,PROMPT UNIT,OCCCNT,UNITLOGONDATE,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,WORKSTATION,PERSID,EVENTNUMBER,CREATIONFLAG,SOURCEFLAG
0,1000X,10,01/03/2017 15:48:55,01/03/2017 17:52:14,8,NaN,0,CLEAR,01/03/2017 17:52:14,8,PD119,D554735,1700310488,NaN,NaN
1,1000X,10,01/27/2017 16:01:54,01/27/2017 20:01:12,12,NaN,0,CLEAR,01/27/2017 20:01:12,12,PD119,D554735,1702712432,NaN,NaN
2,1000X,10,01/28/2017 14:03:10,01/29/2017 05:41:31,86,NaN,0,LOGOFF,01/29/2017 05:41:31,86,PD120,D106919,NaN,O,NaN
3,1000X,11,01/03/2017 15:48:55,01/03/2017 17:52:19,96,NaN,0,DSP,01/03/2017 17:52:19,96,PD119,D554735,1700310298,NaN,NaN
4,1000X,11,01/27/2017 16:01:54,01/27/2017 22:49:15,89,NaN,0,REMINQ,01/27/2017 22:49:15,89,PMDT2404,PC0H049,,O,NaN

In [6]:
pdf = pd.DataFrame()

In [7]:
path = './911call/chifoia_unit_segment/'
files= os.listdir(path)
files

['chifoia_unit_segment_01012016.txt',
 'chifoia_unit_segment_01012017.txt',
 'chifoia_unit_segment_02012016.txt',
 'chifoia_unit_segment_02012017.txt',
 'chifoia_unit_segment_03012016.txt',
 'chifoia_unit_segment_03012017.txt',
 'chifoia_unit_segment_04012016.txt',
 'chifoia_unit_segment_04012017.txt',
 'chifoia_unit_segment_05012016.txt',
 'chifoia_unit_segment_05012017.txt',
 'chifoia_unit_segment_06012016.txt',
 'chifoia_unit_segment_06012017.txt',
 'chifoia_unit_segment_07012016.txt',
 'chifoia_unit_segment_07012017.txt',
 'chifoia_unit_segment_08012016.txt',
 'chifoia_unit_segment_08012017.txt',
 'chifoia_unit_segment_09012016.txt',
 'chifoia_unit_segment_10012016.txt',
 'chifoia_unit_segment_11012016.txt',
 'chifoia_unit_segment_12012016.txt']

In [8]:
for file in files:
    pd_temp = pd.read_csv(path+file,sep="|",skiprows=1,header=None)
    pd_temp.columns = ['UNIT', 'OCCCNT', 'UNITLOGONDATE', 'CREATIONDATE',
       'CREATIONDATEHN', 'OVERRIDEDATE', 'OVERRIDEDATEHN', 'SEGMENTNAME',
       'SEGMENTDATE', 'SEGMENTDATEHN', 'WORKSTATION', 'PERSID', 'EVENTNUMBER',
       'CREATIONFLAG', 'SOURCEFLAG']
    print(pd_temp.shape)
    pdf = pd.concat([pdf,pd_temp])
    print(pdf.shape)

(1861270, 15)
(1861270, 15)
(2181548, 15)
(4042818, 15)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1844800, 15)
(5887618, 15)
(2071093, 15)
(7958711, 15)
(2117235, 15)
(10075946, 15)
(2221069, 15)
(12297015, 15)
(2080113, 15)
(14377128, 15)
(2208185, 15)
(16585313, 15)
(2277988, 15)
(18863301, 15)
(2403735, 15)
(21267036, 15)
(2265987, 15)
(23533023, 15)
(2330516, 15)
(25863539, 15)
(2138699, 15)
(28002238, 15)
(2420650, 15)
(30422888, 15)
(2016520, 15)
(32439408, 15)
(2389830, 15)
(34829238, 15)
(2116258, 15)
(36945496, 15)
(2133573, 15)
(39079069, 15)
(1935377, 15)
(41014446, 15)
(1891353, 15)
(42905799, 15)

In [9]:
pdf.head()

,UNIT,OCCCNT,UNITLOGONDATE,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,WORKSTATION,PERSID,EVENTNUMBER,CREATIONFLAG,SOURCEFLAG
0,1000X,10,01/15/2016 15:49:41,01/15/2016 23:21:29,54,NaN,0,REMINQ,01/15/2016 23:21:29,54,PMDT2404,PC0G213,,O,NaN
1,1000X,11,01/15/2016 15:49:41,01/16/2016 00:46:30,4,NaN,0,LOGOFF,01/16/2016 00:46:30,4,PMDT2404,PC0G213,NaN,O,NaN
2,1000X,1,01/08/2016 16:10:30,01/08/2016 16:10:30,10,NaN,0,LOGON,01/08/2016 16:10:30,10,PMDT2404,PC0G213,NaN,O,NaN
3,1000X,1,01/14/2016 09:36:24,01/14/2016 09:36:24,74,NaN,0,LOGON,01/14/2016 09:36:24,74,PMDT2404,PC0G213,NaN,O,NaN
4,1000X,1,01/15/2016 15:49:41,01/15/2016 15:49:41,35,NaN,0,LOGON,01/15/2016 15:49:41,35,PMDT2404,PC0G213,NaN,O,NaN

In [10]:
pdf.to_csv('./911call/chifoia_unit_segment.csv')