In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
pd_temp = pd.read_csv('./911call/other/chifoia_us_01012018_ae.csv',skiprows=0,header=0)

In [3]:
pd_temp.head()

,UnitLogonDate,UNITCONGRPID,UNIT,OCCCNT,SEGOCCCNTHI,UNITLOGONDATEHN,UNITLOGOFF,UNITLOGOFFDATEHN,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,WORKSTATION,CONGRPID,EVENTNUMBER,CREATIONFLAG,SOURCEFLAG
0,01/31/2018 22.55.34,CPD,124R,21,62,81,02/01/2018 06.55.51,70,02/01/2018 01.41.31,93,NaN,0,DSP,02/01/2018 01.41.31,93,PD50,CPD,1803200848,NaN,NaN
1,01/31/2018 22.55.34,CPD,124R,22,62,81,02/01/2018 06.55.51,70,02/01/2018 01.41.36,40,NaN,0,ACK,02/01/2018 01.41.36,40,PMDT2693,CPD,1803200848,NaN,NaN
2,01/31/2018 22.55.34,CPD,124R,23,62,81,02/01/2018 06.55.51,70,02/01/2018 01.41.44,4,NaN,0,ENR,02/01/2018 01.41.44,4,PMDT2693,CPD,1803200848,NaN,NaN
3,01/31/2018 22.55.34,CPD,124R,24,62,81,02/01/2018 06.55.51,70,NaN,91,NaN,0,ONS,NaN,91,PMDT2693,CPD,1803200848,NaN,NaN
4,01/31/2018 22.55.34,CPD,124R,25,62,81,02/01/2018 06.55.51,70,02/01/2018 01.51.24,19,NaN,0,CLEAR,02/01/2018 01.51.24,19,PD50,CPD,1803200848,NaN,NaN

In [4]:
pd_temp.columns

Index(['UnitLogonDate', 'UNITCONGRPID ', 'UNIT ', 'OCCCNT ', 'SEGOCCCNTHI ',
       'UNITLOGONDATEHN ', 'UNITLOGOFF ', 'UNITLOGOFFDATEHN ', 'CREATIONDATE ',
       'CREATIONDATEHN ', 'OVERRIDEDATE ', 'OVERRIDEDATEHN ', 'SEGMENTNAME ',
       'SEGMENTDATE ', 'SEGMENTDATEHN ', 'WORKSTATION ', 'CONGRPID ',
       'EVENTNUMBER ', 'CREATIONFLAG ', 'SOURCEFLAG'],
      dtype='object')

In [5]:
pd_temp.head()

,UnitLogonDate,UNITCONGRPID,UNIT,OCCCNT,SEGOCCCNTHI,UNITLOGONDATEHN,UNITLOGOFF,UNITLOGOFFDATEHN,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,WORKSTATION,CONGRPID,EVENTNUMBER,CREATIONFLAG,SOURCEFLAG
0,01/31/2018 22.55.34,CPD,124R,21,62,81,02/01/2018 06.55.51,70,02/01/2018 01.41.31,93,NaN,0,DSP,02/01/2018 01.41.31,93,PD50,CPD,1803200848,NaN,NaN
1,01/31/2018 22.55.34,CPD,124R,22,62,81,02/01/2018 06.55.51,70,02/01/2018 01.41.36,40,NaN,0,ACK,02/01/2018 01.41.36,40,PMDT2693,CPD,1803200848,NaN,NaN
2,01/31/2018 22.55.34,CPD,124R,23,62,81,02/01/2018 06.55.51,70,02/01/2018 01.41.44,4,NaN,0,ENR,02/01/2018 01.41.44,4,PMDT2693,CPD,1803200848,NaN,NaN
3,01/31/2018 22.55.34,CPD,124R,24,62,81,02/01/2018 06.55.51,70,NaN,91,NaN,0,ONS,NaN,91,PMDT2693,CPD,1803200848,NaN,NaN
4,01/31/2018 22.55.34,CPD,124R,25,62,81,02/01/2018 06.55.51,70,02/01/2018 01.51.24,19,NaN,0,CLEAR,02/01/2018 01.51.24,19,PD50,CPD,1803200848,NaN,NaN

In [6]:
pdf = pd.DataFrame()

In [7]:
path = './911call/other/'
files= os.listdir(path)
files

['chifoia_us_01012018_aa.csv',
 'chifoia_us_01012018_ab.csv',
 'chifoia_us_01012018_ac.csv',
 'chifoia_us_01012018_ad.csv',
 'chifoia_us_01012018_ae.csv',
 'chifoia_us_02012018_aa.csv',
 'chifoia_us_02012018_ab.csv',
 'chifoia_us_02012018_ac.csv',
 'chifoia_us_02012018_ad.csv',
 'chifoia_us_03012018_aa.csv',
 'chifoia_us_03012018_ab.csv',
 'chifoia_us_03012018_ac.csv',
 'chifoia_us_03012018_ad.csv',
 'chifoia_us_03012018_ae.csv',
 'chifoia_us_04012018_aa.csv',
 'chifoia_us_04012018_ab.csv',
 'chifoia_us_04012018_ac.csv',
 'chifoia_us_04012018_ad.csv',
 'chifoia_us_04012018_ae.csv',
 'chifoia_us_09012017_aa.csv',
 'chifoia_us_09012017_ab.csv',
 'chifoia_us_09012017_ac.csv',
 'chifoia_us_09012017_ad.csv',
 'chifoia_us_10012017_aa.csv',
 'chifoia_us_10012017_ab.csv',
 'chifoia_us_10012017_ac.csv',
 'chifoia_us_10012017_ad.csv',
 'chifoia_us_11012017_aa.csv',
 'chifoia_us_11012017_ab.csv',
 'chifoia_us_11012017_ac.csv',
 'chifoia_us_11012017_ad.csv',
 'chifoia_us_12012017_aa.csv',
 'chifoia_us_12012017_ab.csv',
 'chifoia_us_12012017_ac.csv',
 'chifoia_us_12012017_ad.csv']

In [8]:
for file in files:
    pd_temp = pd.read_csv(path+file,skiprows=1,header=None)
    pd_temp.columns = ['UnitLogonDate', 'UNITCONGRPID', 'UNIT', 'OCCCNT', 'SEGOCCCNTHI',
       'UNITLOGONDATEHN', 'UNITLOGOFF', 'UNITLOGOFFDATEHN', 'CREATIONDATE',
       'CREATIONDATEHN', 'OVERRIDEDATE', 'OVERRIDEDATEHN', 'SEGMENTNAME',
       'SEGMENTDATE', 'SEGMENTDATEHN', 'WORKSTATION', 'CONGRPID',
       'EVENTNUMBER', 'CREATIONFLAG', 'SOURCEFLAG']
    print(pd_temp.shape)
    pdf = pd.concat([pdf,pd_temp])
    print(pdf.shape)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(600000, 20)
(600000, 20)
(600000, 20)
(1200000, 20)
(600000, 20)
(1800000, 20)
(600000, 20)
(2400000, 20)
(4993, 20)
(2404993, 20)
(600000, 20)
(3004993, 20)
(600000, 20)
(3604993, 20)
(600000, 20)
(4204993, 20)
(363808, 20)
(4568801, 20)
(600000, 20)
(5168801, 20)
(600000, 20)
(5768801, 20)
(600000, 20)
(6368801, 20)
(600000, 20)
(6968801, 20)
(163767, 20)
(7132568, 20)
(600000, 20)
(7732568, 20)
(600000, 20)
(8332568, 20)
(600000, 20)
(8932568, 20)
(600000, 20)
(9532568, 20)
(73741, 20)
(9606309, 20)
(600000, 20)
(10206309, 20)
(600000, 20)
(10806309, 20)
(600000, 20)
(11406309, 20)
(526019, 20)
(11932328, 20)
(600000, 20)
(12532328, 20)
(600000, 20)
(13132328, 20)
(600000, 20)
(13732328, 20)
(454893, 20)
(14187221, 20)
(600000, 20)
(14787221, 20)
(600000, 20)
(15387221, 20)
(600000, 20)
(15987221, 20)
(435058, 20)
(16422279, 20)
(600000, 20)
(17022279, 20)
(600000, 20)
(17622279, 20)
(600000, 20)
(18222279, 20)
(363869, 20)
(18586148, 20)

In [9]:
pdf.head()

,UnitLogonDate,UNITCONGRPID,UNIT,OCCCNT,SEGOCCCNTHI,UNITLOGONDATEHN,UNITLOGOFF,UNITLOGOFFDATEHN,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,WORKSTATION,CONGRPID,EVENTNUMBER,CREATIONFLAG,SOURCEFLAG
0,01/01/2018 00.00.27,CPD,1803B,1,5,21,01/01/2018 06.36.37,25,01/01/2018 00.00.27,21,NaN,0,LOGON,01/01/2018 00.00.27,21,PD50,NaN,NaN,S,NaN
1,01/01/2018 00.00.27,CPD,1803B,2,5,21,01/01/2018 06.36.37,25,01/01/2018 00.00.27,22,NaN,0,DSP,01/01/2018 00.00.27,22,PD50,CPD,1736513890,NaN,NaN
2,01/01/2018 00.00.27,CPD,1803B,3,5,21,01/01/2018 06.36.37,25,NaN,20,NaN,0,ONS,NaN,20,PD50,CPD,1736513890,NaN,NaN
3,01/01/2018 00.00.27,CPD,1803B,4,5,21,01/01/2018 06.36.37,25,01/01/2018 06.36.37,25,NaN,0,CLEAR,01/01/2018 06.36.37,25,PD50,CPD,1736513890,NaN,NaN
4,01/01/2018 00.00.27,CPD,1803B,5,5,21,01/01/2018 06.36.37,25,01/01/2018 06.36.37,25,NaN,0,LOGOFF,01/01/2018 06.36.37,25,PD50,NaN,NaN,S,NaN

In [10]:
pdf.UNITLOGOFF = pd.to_datetime(pdf.UNITLOGOFF, format='%m/%d/%Y %H.%M.%S',errors='coerce')

In [11]:
pdf.UnitLogonDate = pd.to_datetime(pdf.UnitLogonDate, format='%m/%d/%Y %H.%M.%S',errors='coerce')

In [12]:
pdf.CREATIONDATE = pd.to_datetime(pdf.CREATIONDATE, format='%m/%d/%Y %H.%M.%S',errors='coerce')

In [13]:
pdf.OVERRIDEDATE = pd.to_datetime(pdf.OVERRIDEDATE, format='%m/%d/%Y %H.%M.%S',errors='coerce')

In [14]:
pdf.SEGMENTDATE = pd.to_datetime(pdf.SEGMENTDATE, format='%m/%d/%Y %H.%M.%S',errors='coerce')

In [15]:
pdf.to_csv('./911call/chifoia_unit_segment_other.csv')

In [16]:
pdf.head()

,UnitLogonDate,UNITCONGRPID,UNIT,OCCCNT,SEGOCCCNTHI,UNITLOGONDATEHN,UNITLOGOFF,UNITLOGOFFDATEHN,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,WORKSTATION,CONGRPID,EVENTNUMBER,CREATIONFLAG,SOURCEFLAG
0,2018-01-01 00:00:27,CPD,1803B,1,5,21,2018-01-01 06:36:37,25,2018-01-01 00:00:27,21,NaT,0,LOGON,2018-01-01 00:00:27,21,PD50,NaN,NaN,S,NaN
1,2018-01-01 00:00:27,CPD,1803B,2,5,21,2018-01-01 06:36:37,25,2018-01-01 00:00:27,22,NaT,0,DSP,2018-01-01 00:00:27,22,PD50,CPD,1736513890,NaN,NaN
2,2018-01-01 00:00:27,CPD,1803B,3,5,21,2018-01-01 06:36:37,25,NaT,20,NaT,0,ONS,NaT,20,PD50,CPD,1736513890,NaN,NaN
3,2018-01-01 00:00:27,CPD,1803B,4,5,21,2018-01-01 06:36:37,25,2018-01-01 06:36:37,25,NaT,0,CLEAR,2018-01-01 06:36:37,25,PD50,CPD,1736513890,NaN,NaN
4,2018-01-01 00:00:27,CPD,1803B,5,5,21,2018-01-01 06:36:37,25,2018-01-01 06:36:37,25,NaT,0,LOGOFF,2018-01-01 06:36:37,25,PD50,NaN,NaN,S,NaN